<html dir="rtl">
<head>
  <link rel="stylesheet" href="/open-sans/opensans.css" />
  <style>
    * {
      font-family: 'Open Sans Hebrew';
    }

    html, body {
      min-width: 100vw;
      margin: 0;
    }
  </style>
</head>
<body>
  <div id="main"><%- kaki %></div>
  <script>
    window.initialState = <%- JSON.stringify(anotherKaki) %>;
  </script>
  <script src="/dist/<%- scriptName %>"></script>
</body>
</html>
