<html>
<body>
  <div id="main"><%- kaki %></div>
  <script>
    window.initialState = <%- JSON.stringify(anotherKaki) %>;
  </script>
  <script src="/dist/<%- scriptName %>"></script>
</body>
</html>
